* {
  box-sizing: border-box;
}
body{
  background: linear-gradient(135deg, #ffffff, #FFA500);
}
form {
  max-width: 650px;
  margin: 10px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  
}

.form-header {
  margin-bottom: 20px;
  text-align: center;
}

.form-header h2 {
  margin: 0;
  font-size: 32px;
  color: black;
}

.form-field {
  margin-bottom: 20px;
  align-items: center;

}
.btn {
  margin-bottom: 10px;
}
.btn1{
  background-color: #efea61;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.form-field label {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
  color: #202124;
}

.form-field input[type="date"],
.form-field input[type="time"],
.form-field input[type="number"],
.form-field input[type="text"],
.form-field input[type="tel"],
.form-field input[type="email"] {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  font-size: 16px;
  color: #202124;
  background-color: #fff;
  transition: border-color 0.2s ease-in-out;
}

.form-field input[type="date"]:focus,
.form-field input[type="time"]:focus,
.form-field input[type="number"]:focus,
.form-field input[type="text"]:focus,
.form-field input[type="tel"]:focus,
.form-field input[type="email"]:focus {
  outline: none;
  border-color: #efea61;
}

.form-field input[type="date"]:invalid,
.form-field input[type="time"]:invalid,
.form-field input[type="number"]:invalid,
.form-field input[type="text"]:invalid,
.form-field input[type="tel"]:invalid,
.form-field input[type="email"]:invalid {
  border-color: none;
}

.form-field input[type="number"]::-webkit-inner-spin-button,
.form-field input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-submit {
  text-align: center;
}

.form-submit button[type="submit"] {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  color: black;
  background-color: #efea61;
  
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-submit button[type="submit"]:hover {
  background-color: #FFD93D;
}
.blue {
  color:black;
  font-size: 26px;
}
.form-field-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
}
.form-field-flex input {
  margin-bottom: 6px;
  /* margin-right: 10px; */
}
.display-none { 
  display: none;
}