* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.4s ease all;
}

main {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-left {
    height: 90vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: black; */
}
.main-right {
    height: 90vh;
    width: 50%;
    background-color: blue;
}

  /* * {
    box-sizing: border-box;
    
  } */
  

  

  /* navbar css */
  .navbar {
    width: 100%;
   
    background: #a9a9a9;
    color: #000000;
    padding: 15px;
    width: 100%;
    /* height: 70px; */
    height: 10vh;
    display: flex;
    align-items: center;
    box-shadow: 2.5px  2.5px 20px #000000;
    
   
  }
  
  .navbar .logo {
    cursor: pointer;
    font-family: Lacquer;

    display: block;
  }

  .navbar-img{
    border-radius: 50%;
    height: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
  }
  
  .navbar ul.links {
    margin-left: auto;
    margin-right: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    transition: 0.4s ease all, 0s ease background;
  }
  .navbar ul.links li {
    text-transform: uppercase;
    padding: 0 15px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease all, 0s ease margin;
    border-radius:3%;
    
  }
  .navbar ul.links li a {
    text-decoration: none;
    color: #000000;
  }
  .navbar ul.links li:hover {
    color: #FF0000;
    cursor: pointer;
  }
  .navbar ul.links li:hover a {
    color: #cecece;
  }


  
  
  .navbar.sticky {
    position: fixed;
    z-index: 40;
  }
  .navbar.sticky ~ main {
    position: relative;
    z-index: 20;
    top: 65px;
  }
  
  #service{
    text-decoration: none;
    color: #000000;
    background: #a9a9a9;
    border-color:  #a9a9a9;
  }
  
  #service :hover{
    text-decoration: none;
    color: #cecece !important;
    background: #a9a9a9;
    border-color:  #a9a9a9;
  }
  #drop{
    background: #b6b4b4;
    border-color:  #a9a9a9;
  }
  
  #drop :nth-child(1):hover  {
    background-color: #b6b4b4;
    color: #cecece;
  }
  #drop :nth-child(2):hover  {
    background-color: #b6b4b4;
    color: #cecece;
  }


  
  
  #login{
    border: 2px solid currentColor;
    border-radius: 0.9rem;
    color: rgb(0, 0, 0);
    font-weight: 300;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    padding-top:  5px !important;
    padding-bottom:  5px !important;
    padding-inline: 10px;
  }
  
  #login::after {
    background-color: rgb(0, 0, 0);
    border-radius: 0.9rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.3s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  
  
  #login:hover::after {
    transform: translate(0, 0);
  }
  
  
  #login:hover {
    border: 2px solid transparent;
    color: #cecece;
    transform: scale(1.05);
    will-change: transform;
  }
  
  
  
  @media screen and (max-width: 820px) {
    .navbar .right {
      height: 0;
      overflow: hidden;
    }
  
    .toggle {
      position: absolute;
      top: 32.5px;
      right: 20px;
      z-index: 99;
      transform: translateY(-50%);
      cursor: pointer;
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .toggle > * {
      width: 80%;
      height: 2px;
      background: #fff;
      margin: 3px 0;
    }
  
    .navbar.collapsed .toggle .line1 {
      transform: rotate(-45deg) translate(-4px, 5px);
    }
    .navbar.collapsed .toggle .line2 {
      opacity: 0;
    }
    .navbar.collapsed .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
    .navbar.collapsed .logo {
      position: absolute;
      z-index: 44;
    }
  
    .navbar .links {
      position: fixed;
      background: #a9a9a9;
      z-index: 40;
      top: 0;
      left: -100%;
      flex-direction: column;
      width: 45vw;
      height: 100vh;
    }
    .navbar .links li:first-child {
      margin-top: 80px;
    }
  
    .navbar.collapsed .links {
      left: 0;
    }
    .navbar.collapsed .links a {
      color: #000000;
    }
    .navbar.collapsed .links li {
      width: 100%;
    }
    .navbar.collapsed .links li:hover a {
      color: #1E3263;
    }
  
    .navbar.collapsed .right {
      position: fixed;
      width: 45vw;
      text-align: center;
      height: auto;
      bottom: 40px;
      left: 22.5vw;
      transform: translateX(-50%);
      z-index: 45;
    }
  
    .navbar.collapsed ~ main {
      filter: blur(1px);
      opacity: 0.8;
    }
  
    .navbar.sticky {
      position: fixed;
      z-index: 40;
    }

    #service :hover{
        text-decoration: none;
        color: #cecece;
        background: #a9a9a9;
        border-color:  #a9a9a9;
      }
      #drop{
        background: #b6b4b4;
        border-color:  #a9a9a9;
      }
      
      #drop :nth-child(1):hover  {
        background-color: #b6b4b4;
        color: #cecece;
      }
      #drop :nth-child(2):hover  {
        background-color: #b6b4b4;
        color: #cecece;
      }

      #login::after {
        background-color: rgb(0, 0, 0);
        border-radius: 0.9rem;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100%, 0) rotate(10deg);
        transform-origin: top left;
        transition: 0.3s transform ease-out;
        will-change: transform;
        z-index: -1;
      }
      
      
      #login:hover::after {
        transform: translate(0, 0);
      }
      
      
      #login:hover {
        border: 2px solid transparent;
        color: #cecece !important;
        transform: scale(1.05);
        will-change: transform;
      }
     
      img{
        margin-left: 85px;
        margin-top: 7px;
        margin-bottom: 20px;
       height: 40px;
      }
      
      
 
  }

  /* card css */

  .gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-image img {
    height: 450px;
    width: 450px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 450px;
    width: 450px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
    border-radius: 20px;
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 450px;
    width: 450px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
    /* text-align: justify; */
  }
    