* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* transition: 0.4s ease all; */
    font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;

}

.site-logo {
  font-weight: 900;
  font-size: 0.8rem;
  color: var(--text);
  text-decoration: none;
}

.logo{
  height: 35px;
  border-radius: 50%;
}

#icon1, #icon2, #icon3{
  font-weight: lighter;

}


label #btn ,
label #cancel{
  float: right;
  color: #f4f4f4;
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 8px;
  display: none;
}

#check{
  display: none;
}
.toggle{
  display: none;
}

.service{
  position: absolute;
  /* left: 0%; */
  width: 140px;
  background: #123;
  float: right;
  padding-left: 0px ;
 /* padding-bottom: 20px; */
  display: none;
  /* padding-right: 35px; */
  border-radius: 5px;
  /* visibility: hidden; */
  list-style-type: none;
}
#serv:hover > ul{
  /* visibility: visible; */
  display: block;
} 



header {
  --text: #f4f4f4;
  --text-inverse: #333;
  background-color: #123 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 2em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  font-size: 0.9rem;
}
#s1, #s2{
  background-color: #123;
  text-decoration: none;
  
}

main{
  margin-top: 300px;
}


.nav__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}


.nav__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}


.nav__link--btn {
  border: 1.5px solid currentColor;
  border-radius: 2em;
  margin-left: 1em;
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
}

.nav__link--btn:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text);
}

.nav__link--btn::after {
  display: none;
}

.nav__link--btn--highlight {
  background: limegreen;
  border-color: limegreen;
  color: #333;
}

.nav__link--btn--highlight:hover {
  background: var(--text);
  border-color: var(--text);
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.home-intro {
  padding: 50vh 0;
  background: #123 url(//unsplash.it/900);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}

.home-about {
  padding: 4em 0;
  max-width: 900px;
  margin: 0 auto;
}

.columns {
  display: flex;
}

.col + .col {
  margin-left: 1.5em;
}

.more-stuff-grid {
  background: #f4f4f4;
  padding: 4em 0;
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
}

.from-left {
  grid-column: 2 / 3;
}

.from-right {
  grid-column: 3 / 4;
}
#icons{
  right: 0 !important;
}

@media(max-width: 850px) {
  .toggle{
    display: block;
    z-index: 100;
  }
  label #btn{
    display: block;
  }

  #navb{
    position: fixed;
    width: 100%;
    height: 70vh;
    background-color: #333;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    display: block;
  }

  #navb.active {
    left: 0;
    top: 70px;
    width: 100%;
  }

  header{
    height: 70px;
  }
  .service{
    background-color: #333;
    position: fixed !important;
  }

  #icons{
    float: right !important;
  }

  .nav__list-item{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  #check:checked ~ #navb {
    top: 0;
    left: 0 !important;
    width: 100%;
  }

  #check:checked ~ label #btn{
    display: none;
  }

  #check:checked ~ label #cancel{
    display: block;
  }

  .service {
    width: 100%;
    z-index: 10;
  }

  .service .nav__list-item {
    margin: 0;
  }

  .service .nav__list-item .nav__link {
    padding: 25px 0 10px 0;
    width: 30%;
    margin: 0 auto;
  }

  #s1, #s2{
    background-color: #333;
  }


  
}

  /* carousal css */




  

a.link {
  color: #0066c0;
  font-size: 13px;
}

a.link:hover {
  color: #e77600;
}

.rating {
  display: flex;
  align-items: center;
padding:5px 0;
}

.rating-count {
  margin-left: 10px;
}

.stars {
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-sprite_1x-003a05344e6a5263c945684c66748394b4cbb9a2._V2_.png);
  background-position: -175px -368px;
  width: 80px;
  height: 18px;
  background-size: 400px 900px;
  background-repeat: no-repeat;
  display: inline-block;
}

.form{
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 20px;
}
.form-group label,
.form-group select
{
display: block;
}
.form-group select{
  width: 150px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.input-group{
display:flex;
width: 220px;
height: 30px;
}
.input-group input{
  width: 50px;
  border: 1px solid #ccc;
  outline: none;
  padding-left:20px ;
  font-size: 18px;
}
.input-group button{
  width: 30px;
  outline: none;
  border: none;
  background-color: #8167a99c;
  color:white;
}


#gridview {
  text-align: center;
}

div.image {
  margin: 10px;
  display: inline-block;
  position: relative;
}

.button form{
  margin-right: 1em;
}

.add-cart{
  display: block;
  width: 170px;
  height: 42px;
  color: #8167a9;
  padding: 10px;
  text-align: center;
  border: 2px solid currentColor;
  border-radius: 5px ;
  background-color: white;
  font-weight: bold;
  line-height: 18px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.add-cart:hover{
  background-color: #8167a9;
  color: white;
  border: 2px solid currentColor;
  transition: all 400ms linear;
}

div.image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 1px solid #ccc;
}

div.preview-image {
  float: left;
  padding: 0 0 20px 20px;
  width:50%;
  max-width: 570px;
  
}

div.preview-image img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div.preview-image img.focused {
  border: #fbb20f 2px solid;
}

div.image img:hover {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.32), 0 0 0 0px rgba(0, 0, 0, 0.16);
}

.heading {
  padding: 10px 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
}
#preview-enlarged {
    padding: 0 10px;
}
#grid {
  margin-bottom: 30px;
}
#product-view{
width:90%;
margin: auto;
height: 500px;
margin-top: 300px !important;
}

.cost{
  font-weight: bolder;
}
.quick_look {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -51px;
  background: transparent;
  border: #FFF 2px solid;
  padding: 8px 25px;
  color: #FFF;
  font-size: 14px;
  cursor: pointer;
}

.quick_look:hover {
  background: #FFF;
  color: #333;
}

.product-info {
  width:50%;
  padding: 0 30px 20px 20px;
  line-height: 1.5;

}

div.product-info ul {
  margin: 10px 0px;
  padding: 0;
}

div.product-info li {
  cursor: pointer;
  list-style-type: none;
  display: inline-block;
  color: #F0F0F0;
  text-shadow: 0 0 1px #666666;
  font-size: 14px;
}

div.product-info .selected {
  color: #e4a400;
  text-shadow: 0 0 5px #ffb900;
}

.product-title {
  font-size: 1.5em;
}

.product-category {
  margin: 20px 0px;
  font-size: 0.9em;
  color: #c4c4c5;
  text-transform: uppercase;
  border-left: #c4c4c5 3px solid;
  padding: 0px 5px 0px 5px;
  text-transform: uppercase;
}

button.btn-info {
  padding: 10px;
  margin: 20px 20px 10px 0px;
  padding: 10px 20px;
  background: #67bdf7;
  border: #60b2e8 1px solid;
  border-radius: 3px;
  color: #FFF;
}

.ui-widget-header {
  border: none !important;
  background: none !important;
}

#product-view {
  /* border: #CCC 1px solid; */
  overflow: auto;
  display: inline-block;
  padding-top: 20px;
  margin-top: 30px;
  text-align: left;
}

.button{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

div.preview-image img.thumbnail {
  width: 50px;
  margin-bottom: 10px;
  padding: 5px;
}

#thumbnail-container {
  width: 70px;
  cursor: pointer;
  
}

.focused {
  border: 1px solid #e77600 !important;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, .5);
}



#product-view {
  display: flex;
  flex-direction: row;
}

.preview-image {
  display: flex;
  flex-direction: row;
}


/* Responsive Styles */

@media screen and (min-width: 1224px) {
  div.image {
      width: 300px;
  }
}

@media screen and (min-width: 1044px) and (max-width: 1224px) {
  div.image {
      width: 250px;
  }
}

@media screen and (min-width: 845px) and (max-width: 1044px) {
  div.image {
      width: 200px;
  }
}

@media screen and (max-width: 560px) {
  #preview-enlarged {
      float: none;
  }
  #thumbnail-container {
      width: auto;
      margin-top: 10px;
  }
}

@media screen and (max-width:1080px) {
  #product-view {
      display: flex;
      flex-direction: column;
  }
  .product-info {
    width: 98%;
  }
  div.preview-image {
      flex-direction: column-reverse;
      width:98%;
  }
  #thumbnail-container {
      display: flex;
      padding: 10px 0;
  }
  #preview-enlarged {
    padding:0;
 }
}

@media screen and (max-width:768px) {
  div.preview-image {
      padding: 10px;
  }
  .product-info {
      padding: 10px 0;
  }
  #product-view{
      width:100%;
  }
}